<table class="styled" border="1">
  <tr>
    <th bgcolor="009C7C" width=100 height="30"><font color="white">Rank</th>
    <th bgcolor="009C7C" width=100><font color="white">Name</th>
    <th bgcolor="009C7C" width=100><font color="white">Points</th>
    <th bgcolor="009C7C" width=100><font color="white">Team</th>
  </tr>
  <tr>
    <td width=70 align="center">1</td>
    <td align="center">Domenic</td>
    <td align="center">88,110</td>
    <td height="30" align="center">dcode</td>
  </tr>
  <tr>
    <th height="30" width=70><font color="009C7C">2</th>
    <th><font color="009C7C">Sally</th>
    <th><font color="009C7C">72,400</th>
    <th><font color="009C7C">Students</th>
  </tr>
  <tr>
     <td height="30" align="center">3</td>
     <td height="30" align="center">Nick</td>
     <td height="30" align="center">52,300</td>
     <td height="30" align="center">dcode</td>
  </tr>
</table>
