<h1> Isabel Niebla López </h1>

<h2> Personal information</h2>
<p><b>Nationality:</b> Mexican<br>
<b>Date of birth:</b>1995/07/03<br>
<b>Mail:</b> isabel.niebla.lopez@gmail.com<br>
<b>LinkedIn profile:</b>: <a href="www.linkedin.com/in/isabel-niebla-2324911a2"><i> Isabel Niebla</i></a></p>
<h2>Objective</h2>
<p>Apply the knowledge I have acquired during my academic formation<br> in order to benefit the organization and the society, as well as,<br> grow in the personal and professional field.</p>
<h2>Educational Level</h2>
<li>Bachelor's Degree: Biotechnology Engineering.</li>
<li>Master in Science of Floriculture-Specialized in Genetic Improvement.</li>
<li>Accreditation diploma as Analytical Chemist.</li>
<li>Accreditation diploma as Industrial Microbiology.</li>
  <h2>Software Skills</h2>
  <p><pre>MS Word, MS Excel, MS PowerPoint, MS Publisher<br>
   Good knowledge in SCRUM Framework<br>
     Data analysis and statistic <br>
       Knowledge in Automation Testing with Selenium <br>
          Knowledge in SQL<br>
            Basic-Intermediate knowledge in Java<br>
              Knowledge in HTML<br> </pre>
<h2>Languages</h2>
<li>Spanish: Native</li>
<li>English: Adavnce, First Certificate in English B2.</li>
<li>French: Basic-Intermediate, 3+ years of learning.</li>
<li>Mandarin Chinese: Basic, 1 year of learning </li>
<li>Japanese: Basic, 6 months of learning </li>

    
    
    
  