<table>
    <h1>Videogame Characters</h1>
    <tr>
        <td style="width:50px;display:block">
            <img height="100" width="100" src="https://e7.pngegg.com/pngimages/679/989/png-clipart-kirby-fan-art-anime-drawing-kirby-purple-violet-thumbnail.png" />
        </td>
        <td style="width:50px;display:block">
          <img height="100" width="100" src="https://static.wikia.nocookie.net/ssbb/images/3/32/Link_SSB4.png/revision/latest/top-crop/width/360/height/450?cb=20130704190526&path-prefix=es" />
      </td>
      <td style="width:50px;display:block">
        <img height="100" width="100" src="https://e7.pngegg.com/pngimages/22/343/png-clipart-pikmin-3-pikmin-2-hey-pikmin-wii-light-beam-nintendo-computer-wallpaper.png" />
    </td>
    <td style="width:50px;display:block">
      <img height="100" width="100" src="https://static.wikia.nocookie.net/videojuego/images/d/d5/FE9_Ike.jpg/revision/latest/top-crop/width/360/height/450?cb=20121118163520" />
  </td>
    </tr>
</table>